<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-only tabs-light tabs-color-dark" >

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
  <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab title="Search" icon-off="ion-ios-search-strong" icon-on="ion-ios-search-strong" href="#/tab/search">
    <ion-nav-bar class="bar-light">
    </ion-nav-bar>
  <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Camera Tab -->
  <ion-tab title="Camera" icon-off="ion-ios-camera" icon-on="ion-ios-camera" href="#/camera">
    <ion-nav-view name="tab-camera"></ion-nav-view>
  </ion-tab>

  <!-- Love Tab -->
  <ion-tab title="Love" icon-off="ion-ios-heart" icon-on="ion-ios-heart" href="#/tab/love/you">
    <ion-nav-view name="tab-love"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab  title="Account" icon-off="ion-ios-person" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button nav-direction="enter">
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
