<ion-view>
		<ion-nav-title>
			Direct
	  </ion-nav-title>
		<ion-nav-buttons side="right">
				<a class="button button-icon icon ion-android-add" ng-click="doSomething()" ></a>
		</ion-nav-buttons>
		<ion-content nav-direction="forward" >
				<ion-item  class="item-remove-animate item-avatar no-margin" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
	        <img ng-src="{{chat.face}}">
	        <h2>{{chat.name}}</h2>
	        <p>{{chat.lastText}}</p>
	      </ion-item>
		</ion-content>
</ion-view>
