<ion-view	 >
	<ion-nav-title>
      Linstagram
    </ion-nav-title>
	<ion-nav-buttons side="left">
			<a nav-direction="back" class="button button-icon icon ion-android-add-circle" ng-click="doSomething()" ></a>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
			<a nav-direction="forward" class="button button-icon icon ion-android-chat" href="#/tab/chats"></a>
	</ion-nav-buttons>
	<ion-content>
		<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="doRefresh()">
		</ion-refresher>

		<div class="card" ng-repeat="post in posts">
			<div class="item item-avatar item-button-right avatar-bar-custom" href="#">
				<img ng-src="{{post.avatar}}">
				<h2 class="padding-top">{{post.name}}</h2>
				<button class="button button-icon icon ion-android-more-vertical btn-avatar" ></button>
			</div>

			<div class="item item-image">
				<img class="no margin" ng-src="{{post.image}}">
			</div>

			<div class="">
				<a class="button button-icon icon ion-ios-heart-outline" ng-click="doSomething()" ></a>
				<a class="button button-icon icon ion-ios-chatbubble-outline" ng-click="doSomething()" ></a>
				<a class="button button-icon icon ion-ios-redo-outline" ng-click="doSomething()" ></a>
			</div>

			<div class="item item-text-wrap">
				<p> <a href="#" class="subdued ion-heart" > {{post.likes}} likes</a><br></p>
				<div>
						<p>
								<b>{{post.name}}</b> {{post.caption}}
						</p>
						<p ng-repeat="c in post.comments">
								<b>{{c.user.username}}</b> {{c.comment}}
						</p>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>
