<form>
<ion-header-bar align-title="center" >
    <div class="buttons" >
        <button class="button button-icon ion-ios-close-empty" ng-click="goBackPost()"> Photo</button>
    </div>
    <h1 class="title">New post</h1>
</ion-header-bar>
<ion-content>
      <center>
        <img ng-src="{{lastPhoto}}" style="text-align: center">
      </center>
      <div>
        <label class="item item-input item-text-wrap">
            <input type="text" placeholder="Write a caption..." ng-model="newCaption">
        </label>
      <center class="padding">
        <input value="Share" type="submit" class="button button-calm " ng-click="sharePhoto(newCaption)">
      </center>
    </div>

</ion-content>
  </form>
