<ion-view view-title="Love">
  <div class="tabs-striped tabs-top tabs-color-dark">
    <div class="tabs go-top">
      <a nav-direction="swap" class="tab-item" href="#/tab/love/following">
        <b>FOLLOWING</b>
      </a>
      <a class="tab-item active" href="#/tab/love/you">
        <b>YOU</b>
      </a>
    </div>
  </div>
  <ion-content class="has-header">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="item item-avatar item-button-right item-text-wrap" href="#">
      <img src="img/adam.jpg">
      <h2>Your Facebook friend Khuong is on instagram as <b>Kuong</b></h2>
      <button class="button icon button-outline button-positive ion-android-person-add btn-fix"></button>
    </div>
    <div class="item item-avatar item-button-right item-text-wrap" href="#">
      <img src="img/adam.jpg">
      <h2>Your Facebook friend Khuong is on instagram as <b>Kuong</b></h2>
      <button class="button icon button-outline button-positive ion-android-person-add btn-fix"></button>
    </div>
    <div class="item item-avatar item-button-right item-text-wrap" href="#">
      <img src="img/adam.jpg">
      <h2>Your Facebook friend Khuong is on instagram as <b>Kuong</b></h2>
      <button class="button icon button-outline button-positive ion-android-person-add btn-fix"></button>
    </div>
  </ion-content>
</ion-view>
