<ion-view view-title="Love">
  <div class="tabs-striped tabs-top tabs-color-dark">
    <div class="tabs go-top">
      <a class="tab-item active" href="#/tab/love/following">
        <b>FOLLOWING</b>
      </a>
      <a nav-direction="swap" class="tab-item" href="#/tab/love/you">
        <b>YOU</b>
      </a>
    </div>
  </div>
  <ion-content class="has-header">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    
    <div class="list">
        <div class="item item-avatar" href="">
          <img src="img/adam.jpg">
          <p class="padding-top"><b>Adam</b> start following <b>Khuong</b> and <b>Hong</b></p>
        </div>
        <div class="item item-avatar item-button-right" href="">
          <img src="img/ben.png">
          <p class="padding-top"><b>Ben</b> like <b>Khuong</b>'s photos</p>
            <a class="item-thumbnail-right" href="">
              <img class="image-fix" src="img/adam.jpg">
           </a>
        </div>
    </div>
  </ion-content>
</ion-view>
