<ion-view>
    <ion-nav-title>
     Options
    </ion-nav-title>

<ion-content class="has-header ">
  <div class="list padding">
    <h5 class="padding dark"><b>INVITE FRIENDS</b><h5>

    <a class="item item-icon-left" href="">
      <i class="icon ion-social-facebook"></i>
      Invites Facebook friends
    </a>

    <h5 class="padding dark"><b>FOLLOW PEOPLE</b><h5>

    <a class="item item-icon-left" href="">
      <i class="icon ion-social-facebook"></i>
      Find Facebook friends
    </a>

    <a class="item item-icon-left " href="">
      <i class="icon ion-ios-personadd"></i>
      Find Contacts

    </a>

    <h5 class="padding dark"><b>ACCOUNT</b><h5>

    <a class="item " href="">
      Story settings
    </a>

    <a class="item " href="">
      Edit Profile
    </a>

    <a class="item " href="">
      Change Password
    </a>

    <a class="item " href="">
      Posts that you've liked
    </a>

    <a class="item " href="">
      Blocked Users
    </a>

    <a class="item " href="">
      Switch to Business Profile
    </a>

    <li class="item item-toggle">
     Private Account
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
    </li>

    <h5 class="padding dark"><b>SETTINGS</b><h5>

    <a class="item " href="">
      Linked Accounts
    </a>

    <a class="item " href="">
      Language
    </a>

    <a class="item " href="">
      Push Notification Settings
    </a>

    <a class="item " href="">
      Mobile Data Use
    </a>

    <a class="item " href="">
      Comments
    </a>

    <li class="item item-toggle">
     Save Original Photos
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
    </li>

    <h5 class="padding dark"><b>SUPPORTS</b><h5>

    <a class="item " href="">
      Help Centre
    </a>

    <a class="item " href="">
      Report a Problem
    </a>

    <h5 class="padding dark"><b>ABOUT</b><h5>

    <a class="item" href="">
      Clear Search History
    </a>

    <a class="item" href="">
      Add Account
    </a>

    <a class="item" href="">
      Log Out
    </a>
  </div>
</ion-content>
</ion-view>
